html, body {
	background: linear-gradient(180deg, #3D3D5B 24.92%, #5E3957 45.34%, #6C3744 63.65%, #B12E4E 96.97%);
	height: 100%;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: inherit;
	text-decoration: none;
}

.GenericHeader {
	background: rgba(20, 56, 113, 0.30);
	padding-left: 1%;
}

.page-title {
	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%; /* 62.4px */
	letter-spacing: 0.48px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	width: 65%
}
