.middle {
  position: absolute;
  top: 40%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
}

.welcome-message {
  position: absolute;
  left: 5%;
}

#game-card-space {
  padding-right: 15%;
}

.game-card {
  width: calc(200px + 10vw + 10vh);
  height: calc(100px + 3vw + 2vh);
  background: rgba(20, 56, 113, 0.5);
  box-shadow: 0px 4px 5px 1px #b12e4e;
  margin: 5%;
}

.game-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #b12e4e;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 4.32px;
  padding: 3vw;
  margin: 1rem;
  position: relative;
  bottom: 10%;
  height: 100%;
}

#friends-panel {
  background: rgba(20, 56, 113, 0.2);
  box-shadow: 0px 3px 6px 9px #B12E4E;
  margin: 2rem;
}

#game-card-space {
  padding-right: 15%;
}

@media only screen and (min-width: 990px) {
  #friends-panel {
    right: 0;
    top: 100px;
    width: 15rem;
  }
  #friends-icon {
    top: 32px;
    position: fixed;
  }
  #profile-icon {
    top: 39px;
    position: fixed;
    width: 140px;
  }
  .game-card-text {
    font-size: xx-large;
  }
  #header-menu {
    width: 60%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 990px) {
  #friends-panel {
    top: 600px;
    left: 0%;
    margin: 6%;
    position: absolute;
  }
  #friends-icon {
    left: 5rem;
    bottom: 0.5rem;
  }
  #profile-icon {
    left: 7rem;
    bottom: 4rem;
  }
}

#friends_dropdown {
  top: 17px;
  position: relative;
}

#username_input {
  background: rgba(61, 61, 91, 0.4);
}

#friend-request-button {
  background-color: #b12e4f4a;
}

#friend-request {
  display: block;
  margin-top: 5%;
  height: 80px;
}

#reject-button {
  padding-bottom: 15%;
}

#friend-request-name {
  margin-bottom: 0;
  font-size: large;
  font-weight: bold;
}

#friend-request-name:hover {
  cursor: pointer;
}