main {
  height: 75%;
}

.user-profile {
  position: absolute;
  left: 10%;
}

#img-edit-button {
  background: transparent;
  border: none !important;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 32%;
  top: 60%;
  &:hover {
    cursor: pointer;
  }
}

#name-edit-button {
  background: transparent;
  border: none !important;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 35%;
  top: 6%;
}

#confirm-name-edit-button {
  background: transparent;
  border: none !important;
  color: lightgreen;
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 34%;
  top: 6%;
}

#profile-username {
  color: whitesmoke;
  text-shadow: 3px 0 #513b40, -3px 0 #513b40, 0 3px #513b40, 0 -3px #513b40;
  font-size: calc(0.6rem + 2vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold;
  margin-bottom: 0%;
  margin-left: 5%;
}

#user-profile-avatar {
  height: 400px;
  width: 400px;
}

.profileimg {
  max-width: 400px;
}

.userstatus {
  color: rgb(150, 200, 150);
  font-size: calc(0.4rem + 0.6vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: 600;
  line-height: 2;
  margin-left: 5%;
}

.userdata {
  color: whitesmoke;
  font-size: calc(0.4rem + 0.6vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: 600;
  line-height: 2;
  margin-left: 5%;
}
