main {
  height: 75%;
}

#img-edit-button {
  background: transparent;
  border: none !important;
  width: 25px;
  height: 25px;
  position: relative;
  top: 1rem;
  &:hover {
    cursor: pointer;
  }
}

#name-edit-button {
  background: transparent;
  border: none !important;
  width: 25px;
  height: 25px;
  position: relative;
  right: 2rem;
  bottom: 3rem
}

#confirm-name-edit-button {
  background: transparent;
  border: none !important;
  color: lightgreen;
  display: none;
  width: 50px;
  position: relative;
  right: 3rem;
  bottom: 3rem;
}

#profile-username {
  color: whitesmoke;
  text-shadow: 3px 0 #513b40, -3px 0 #513b40, 0 3px #513b40, 0 -3px #513b40;
  font-size: calc(4rem + 1vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold;
  margin: auto;
}

#user-profile-avatar {
  height: auto;
  width: auto;
}

.profileimg {
  max-width: 400px;
  max-height: 400px;
}

.userstatus {
  color: rgb(150, 200, 150);
  font-size: calc(1rem + 0.6vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: 600;
  line-height: 2;
  margin-left: 5%;
}

.userdata {
  color: whitesmoke;
  font-size: calc(0.8rem + 0.6vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: 600;
  line-height: 2;
  margin-left: 5%;
}

@media only screen and (max-width: 767px) {
  #name-edit-button {
    background: transparent;
    border: none !important;
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 2rem;
    right: 2rem;
  }
  
  #profile-username {
    color: whitesmoke;
    text-shadow: 3px 0 #513b40, -3px 0 #513b40, 0 3px #513b40, 0 -3px #513b40;
    font-size: calc(4rem + 1vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: bold;
    margin: 2rem;
    margin-bottom: 0rem;
    margin-left: auto;
  }
  
  #user-profile-avatar {
    width: 100%;
    height: auto;
  }

  .profileimg {
    max-width: 360px;
    padding-left: 10%;
  }
  
  .userstatus {
    color: rgb(150, 200, 150);
    font-size: calc(1.2rem + 1vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 600;
    line-height: 2;
    margin-left: 5%;
  }
  
  .userdata {
    color: whitesmoke;
    font-size: calc(1.2rem + 1vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 600;
    line-height: 2;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 990px) {
  #profile-username {
    font-size: calc(1rem + 2vw + 2vh);
    width: 90%;
  }
}