{% load static %}
<header>{% include "navbar/navbarUser.html" %}</header>
<main>
  <div class="container h-50 user-profile">
    <div class="row m-3 w-100 h-100">
      <!-- Show the user avatar -->
      <section class="col-5 h-100 profileimg">
        <img
          src="{{ user_info.profile_pic }}"
          alt="profile"
          class="img-fluid"
          style="width: 100%; border-radius: 10px"
          id="user-profile-avatar"
        />
        <label id="img-edit-button" for="profile-picture-input">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-pen ml-5"
            viewBox="0 0 16 16"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
            />
          </svg>
        </label>
        <input
          type="file"
          accept=".png,.jpg,.jpeg"
          name="profile_pic"
          style="display: none"
          id="profile-picture-input"
        />
      </section>
      <!-- Show the user data -->
      <section class="col-7">
        <div class="d-none d-md-block text-left h-26 px-5">
          <form>
            <input
              id="profile-username"
              type="text"
              style="border: 0px; background: transparent"
              value="{{ user_info.username }}"
              disabled
            />
            <button id="confirm-name-edit-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="45"
                fill="currentColor"
                class="bi bi-check"
                viewBox="0 0 16 16"
              >
                <path
                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"
                />
              </svg>
            </button>
          </form>
          <button id="name-edit-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-pen"
              viewBox="0 0 16 16"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
              />
            </svg>
          </button>
        </div>
        <p class="userstatus d-none d-md-block text-left h-3 px-5">online</p>
        <p class="userdata d-none d-md-block text-left h-75 px-5">
          Total games:
          <br />
          Wins:
          <br />
          Loses:
        </p>
      </section>
    </div>
    <div class="row mt-5 ml-1 w-50">
      <div class="col-12">
        <h2 class="username d-block d-md-none text-left h-100">
          {{ user_info.username }}
        </h2>
      </div>
    </div>
  </div>
</main>
<!-- src="{{ user_info.profile_pic }}" -->
<script src="{% static '/js/editProfile.js' %}"></script>
