{% load static %}
<header>{% include "navbar/navbarUser.html" %}</header>
<main>
    <section class="game-status-panel row col-sm-12 col-md-7 col-lg-5">
        <h2 id="game-status-title">GAME STATUS</h2>
        <p id="game-status-text">
            {% if game_ongoing == True %}
                {{player_1}} and {{player_2}} are currently playing.</p>
            {% else %}
                Your turn!
            {% endif %}
    </section>
    <section class="lobby row">
        <section class="queue col-sm-12 col-md-7 col-lg-5">
            <h3 id="queue-header">NEXT IN THE QUEUE</h3>
            <ul id="queue-players">
                {% for player in waitlist %}
                    <li class="player-name">{{player}}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="game-access col-7">
            <button id="play-button"></button>
            <button id="leave-button"></button>
        </section>
    </section>
</main>