{% load static %}
<header>
    {% include "navbar/navbarUser.html" %}
</header>
<main>
    <div id="parent-container">
        <div class="d-none d-sm-block score-panel row justify-content-center">
            <span class="game-score-text col-3">{{ game_info.player_1 }}</span>
            <span id="scoreLeft" class="game-score-text col-2">{{ game_info.score_1 }}</span>
            <span class="game-score-text col-2">-</span>
            <span id="scoreRight" class="game-score-text col-2">{{ game_info.score_2 }}</span>
            <span class="game-score-text col-3">{{ game_info.player_2 }}</span>
        </div>
        <div class="d-none d-sm-block game-board" id="court">
            <span class="board-line-v"></span>
            <span class="board-line-h"></span>
            <div id="rectangle-left"></div>
            <div id="rectangle-right"></div>
            <div id="dot"></div>
        </div>
        <p class="d-xs-block d-sm-none">
            Oh no! Looks like this screen is too small to play :( Try another device
        </p>
    </div>
    <button id="send">Send</button>
    <script src="{% static 'game/game.js' %}"></script>
</main>
