<header>{% include "navbar/navbarHome.html" %}</header>
<main>
  {% load static %}
  <div class="container">
    <img
      class="d-none d-md-block m-5 mx-auto"
      src="{% static 'img/pong.png' %}"
      width="800"
      height="500"
      alt="Pong logo"
    />
    <p class="text-center fs-4 fw-medium">
      Welcome to our pong page! Please register or log in to play pong online.
    </p>
    <p class="text-center fs-4 fw-normal">
      Join private games or tournaments, invite friends, 
      check your stats and game history as well as other players'.
    </p>
    <p class="text-center fs-4 fw-normal"> 
      Enjoy your incredible journey through the pong world and pong that pang!
    </p>
  </div>
</main>
