<header>{% include "navbar/navbarUser.html" %}</header>
<main>
  {% load static %}
  <div class="container">
    <h1>Welcome {{ user_info.username }} !!!</h1>
    <div class="row justify-content-center m-3">
	    <div class="col-sm-4 GameCard" type="submit" onclick="Router.changePage('/home')">
		  	<h2 class="GameCardText">
        1v1 Game
        </h2>
      </div>
      <div class="col-sm-4 GameCard" type="submit" onclick="Router.changePage('/home')">
		  	<h2 class="GameCardText">
        Tournament
        </h2>
      </div>
	  </div>
    </div>
  </div>
</main>
