{% load static %}
<header class="generic-header">
	<nav class="navbar navbar-expand-lg border-bottom mb-5 ">
		<img class="d-sm-none d-lg-block" src="{% static 'img/logo.png' %}"
        width="50" height="50" alt="Pong logo">
          <div class="container-fluid, PageTitle">
              PONG THAT PANG
          </div>
        
		  <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarUser"
          aria-controls="navbarUser"
          aria-expanded="false"
          aria-label="Toggle navigation"
		  >
		  <span class="navbar-toggler-icon"></span>
		  </button>
        
		  <div class="collapse navbar-collapse navbarHome">

			  <button
				  class="btn"
				  type="submit"
				  onclick="Router.changePage('/register')"
				  >
				  Register
			  </button>

			  <button
				  class="btn"
				  type="submit"
				  onclick="Router.changePage('/login')"
				  >
				  Login
			  </button>
		  </div>
	</nav>
</header>
<main>
	<div class="container middle">
		<img class="d-sm-none d-lg-block" src="{% static 'img/pong.png' %}" width="800" height="500" alt="Pong logo">
	</div>
</main>
